@media screen and (max-width: 767px) {
    h2, h3 {
        font-size: 14px !important;
        line-height: 1.3 !important;
    }

    h4 {
        font-size: 12px !important;
        line-height: 1.3 !important;
        margin: 0 0 5px 0;
    }

    .filters .filterB .top-menu{
        width: 85%;
        padding: 10px;
    }

    .Review_flexSpace{
        flex-wrap: wrap;
    }

    .homeIcon{
        display: none;
    }
    
    .collegeDetail_contentBox li,
    .Review_rateReviewBox,
    .Review_RateSubBox,
    .filterSec,
    .rightside {
        width: 100%;
    }

    ul.examList .examDetailInfo {
        display: flex;
        flex-direction: column;
    }

    .schoolBlock .readbtn {
        margin-left: 0px;
    }

    .content ul.attr_box>li {
        margin-top: 10px;
    }

    ul.examlinks {
        display: block;
        overflow-x: auto;
        width: auto;
        white-space: nowrap;
    }

    .filterBlock .select {
        width: 354px;
    }

    .sort-gap {
        margin-top: 20px;
    }

    .body {
        margin-top: 0;
    }

    .schoolBlock {
        margin-top: 30px;
    }

    .examListingPage .modal-header,
    .examListingPage .modal-footer {
        display: none;
    }

    .consultationBtn {
        padding: 2px 10px;
        font-size: 10px;
    }

    .collegesPage .mx-2 {
        margin-right: 0rem !important;
        margin-left: 0rem !important;
    }

    .collegeCard .quesBtn {
        margin: 10px 0;
    }

    .collLogo {
        width: 80px;
    }

    .collTit {
        padding: 10px 0 0 0;
    }

    .collTit .mx-2 {
        margin-right: 0.5rem !important;
        margin-left: 0.5rem !important;
    }

    .bannerOverlay,
    section,
    .footer {
        padding: 20px 0 !important;
    }

    .menu_item_one {
        overflow: scroll;
    }

    .side-hover {
        padding: 0px;
    }

    .registrationBtn {
        color: #00185E !important;
    }

    .slider-container {
        height: 300px;
    }

    .mainContent {
        flex-wrap: wrap;
        top: 5%;
    }

    .searchState {
        margin: 22px 14px 0 7px;
    }

    .filterSec .searchState{
        margin: 0px;
    }

    .mainBannerSection h1{
        display: none;
    }

    #exampleModal2 .loginModal,
    .loginModal{
        max-width: 100%;
    }
    .mainContent .w-50 {
        width: 100% !important;
    }

    /* .PartnersSlider .slick-track {
        padding: 0 20px !important;
    } */

    .d-flex {
        flex-wrap: wrap;
    }

    .manePageBanner h2 {
        font-size: 14px;
    }

    .compareClgBtn {
        padding: 2px 10px;
        font-size: 12px;
    }

    .subscribe h3::before {
        left: 18%;
    }

    .collegeTable {
        width: 100%;
        overflow: scroll;
        margin: 0;
    }

    .form-card {
        width: 100%;
        margin: 0px auto 0px auto;
    }

    .subscribe input {
        margin: 10px 0px;
        font-size: 10px !important;
        padding: 2px 10px;
    }

    .subscribe select {
        margin: 10px 0 20px 0;
        font-size: 10px !important;
    }

    .subscribe .text-center {
        width: 100%;
    }

    .copyRight p {
        margin: 0 auto;
        font-size: 10px;
    }

    .footerCol p,
    .footerCol ul li a,
    .copyRight p a {
        font-size: 10px;
        padding: 0px;
    }

    .footerCol li {
        padding: 0px;
    }

    .copyRight {
        padding: 10px 0 0 0;
    }

    .copyRight .px-5 {
        padding-right: 1rem !important;
        padding-left: 0rem !important;
    }

    .copyRight div {
        width: 100%;
        justify-content: center;
    }

    .bannerDetailTitle .consultationBtn {
        margin: 0 0 0 10px;
        width: 50%;
    }

    .bannerTitle2 img {
        top: 10px;
    }

    .bannerTitle2 {
        padding: 0 0 0 40px;
    }

    .PartnersSlider .slick-list{
        padding: 0px;
    }

    .collegefilter2 .quesBtn {
        margin: 10px 0px 0 0 !important;
    }

    .mobile-menu-trigger:hover~ul {
        z-index: 99;
        background: #fff;
        height: 100%;
        align-items: start;
        padding: 10px;
    }

    .graph__wrapper svg,
    .mainBannerSection .rigCollegesDe,
    .mainBannerSection .rigColleges img {
        width: 100px !important;
    }

    .mainSection {
        padding: 0px !important;
    }

    .mainBannerSection {
        padding: 15px 0;
    }

    .mainBannerSection .rigCollegesDe button {
        padding: 0px 10px;
        width: 150px;
        font-size: 10px;
        margin-top: 10px;
    }

    .rigCollegesD,
    .rigColleges {
        margin: 0px !important;
    }

    .logoMain {
        width: 100px;
        margin: 0 15px 0 0;
    }

    .nav {
        padding: 0px;
    }

    .logoMain::after {
        top: 0px;
    }

    .menu-link[aria-haspopup="true"] {
        border: none !important;
        display: block;
        width: 100%;
    }

    .searchState,
    .menu li {
        width: 100%;
    }

    .menu-bar {
        background-color: #fff;
        z-index: 99;
    }

    .menu-bar>li>[aria-haspopup="true"]:hover~ul {
        height: 100%;
    }

    .subscribe p {
        padding: 0px !important;
        font-size: 10px !important;
    }

    .collegeDecription p,
    .PartnersSlider h5,
    .goalP,
    .menuL a,
    .mega-menu h3 {
        font-size: 10px !important;
    }

    .studyGoal::before {
        top: -1px;
        height: 2px;
    }

    .explore h3::before,
    .colleges h3::before,
    .programs h3::before,
    .collections h3::before {
        height: 2px;
    }

    .consultation,
    .subscribe {
        padding: 10px;
    }

    .careerDetailsBlock {
        display: flex;
        flex-direction: column;
    }

    .careerDetails ul.career-info {
        display: block;
        padding: 0;
        white-space: nowrap;
        overflow-x: auto;
        background: var(--anchorColor);
        position: relative;
        z-index: 9;
        height: 61px;
        clear: both;
    }

    .careerDetails ul.career-info li a {
        color: #ffffff;
        background-color: #e45330;
    }

    .careerDetailsBlock {
        margin-top: 0%;
    }

    .careerDetails ul.career-info li {
        display: inline-block;
        white-space: normal;
    }

    .leftFixed,
    .fixed-div {
        position: sticky;
        display: block;
        width: 100%;
        top: 90px;
    }

    .modal-image {
        width: 80%;
        height: 161px;
        margin-left: 10%;
    }

    .GalleryModal_popUp__GMd7Z {
        height: 303px;
        width: 360px;
        left: 5%;
        margin-top: 20vh;
    }

    .college_galleryImg__blgLw {
        width: 151px;
        margin: 0px 1.5% 0.7% 0px;
        cursor: pointer;
        height: 108px;
    }

    .background-page {
        height: 82px;
        width: 138px;
    }

    .college_gallery_u7AtV {
        margin-top: 10px;
    }

    .Wishlist-slider {
        display: none;
    }

    .collImage {
        height: 221px;
        width: 335px;
    }

    .delete-icon {
        position: relative;
        bottom: 212px;
        right: 25px;
        background-color: #ffffffdb;
        padding: 4px 10px;
        border-radius: 35px;
    }

    .wish-text {
        width: 125px;
    }

    .img-account {
        height: 150px;
    }

    .collegeDecription h3 {
        font-size: 12px !important;
    }
}

@media only screen and (min-width: 600px) {
    #newSite {
        margin-top: -7px !important;
    }
}


@media screen and (max-width: 1024px) {
    .schoolBlock .box .content .coursePic {
        width: 270px;
    }

    .leftFixed,
    .fixed-div {
        width: 178px;
        left: 17px;
    }

    .GalleryModal_popUp__GMd7Z {
        position: relative;
        left: 12%;
    }

    .college_imgBox__ovpk6 {
        display: flex;
        justify-content: center;
    }

    .college_gallery_u7AtV {
        margin-top: 55px;
    }

}