<footer class="footer">
   <div class="container">
      <div class="row justify-content-between">
         <div class="col-md-4">
            <div class="footerCol">
               <a href="index.html">
                  <img alt="" src="/public/images/whiteLogo.png" class="w-75">
               </a>
               <p>
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  alteration in some form, by injected humour,.
               </p>
            </div>
         </div>
         <div class="col-md-3">
            <div class="footerCol">
               <h3>INFORMATION</h3>
               <ul>
                  <li><a href="">COLLEGE DUNIA</a></li>
                  <li><a href="">PREPARATION STRATEGY</a></li>
                  <li><a href="">EXAM DATES</a></li>
                  <li><a href="">EXAM PATTERNS</a></li>
                  <li><a href="/blog">BLOG</a></li>
                  <li><a href="/career">CAREER</a></li>
               </ul>
            </div>
         </div>
         <div class="col-md-4">
            <div class="footerCol">
               <h3>CONTACT US</h3>
               <p>Sector-19, Faridabad, Haryana.</p>
               <p>PINCODE - 121002</p>
               <p>
                  <a href="tel:+919711768186">+91 97117 68186</a>
               </p>
               <div class="d-flex socialLink mt-4">
                  <a href="https://www.facebook.com/rigalmaedu/" target="_blank">
                     <i class="fa-brands fa-facebook-f"></i>
                  </a>
                  <a href="https://www.instagram.com/rigalmaedu/" target="_blank">
                     <i class="fa-brands fa-instagram"></i>
                  </a>
                  <a href="https://www.linkedin.com/company/rigalmaedu/" target="_blank">
                     <i class="fa-brands fa-linkedin-in"></i>
                  </a>
                  <a href="https://twitter.com/rigalmaedu" target="_blank">
                     <i class="fa-brands fa-x-twitter"></i>
                  </a>
               </div>
            </div>
         </div>
      </div>

      <div class="copyRight d-flex align-items-center justify-content-center">
         <p>
            © Copyright 2023.
            <a href="https://codewiretech.com/" target="_blank" style="color: #F6C70B;">Codewiretech</a>
            All Rights Reserved.
         </p>
         <!-- <div class="d-flex align-items-center">
            <p class="px-5">
               <a href="">PRIVACY POLICY</a>
            </p>
            <p>
               <a href="">TERMS & CONDITIONS</a>
            </p>
         </div> -->
      </div>
   </div>
</footer>