<footer class="footer">
   <div class="container">
      <div class="row justify-content-between">
         <div class="col-md-4">
            <div class="footerCol">
               <a href="/index">
                  <img alt="" src="/public/images/whiteLogo.png" class="w-75">
               </a>
               <p>
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  alteration in some form, by injected humour,.
               </p>
            </div>
         </div>
         <div class="col-md-3">
            <div class="footerCol">
               <h3>INFORMATION</h3>
               <ul>
                  <li><a href="">COLLEGE DUNIA</a></li>
                  <li><a href="">PREPARATION STRATEGY</a></li>
                  <li><a href="/blog">BLOG</a></li>
                  <li><a href="/contact">CONTACT US</a></li>
                  <li><a href="/career">CAREER</a></li>
                  <li><a href="/error">ERROR</a></li>
               </ul>
            </div>
         </div>
         <div class="col-md-4">
            <div class="footerCol">
               <h3>CONTACT US</h3>
               <p>Sector-19, Faridabad, Haryana.</p>
               <p>PINCODE - 121002</p>
               <p>
                  <a href="tel:+919711768186">+91 97117 68186</a>
               </p>
               <div class="d-flex socialLink mt-4">
                  <a href="https://www.facebook.com/rigalmaedu/" target="_blank">
                     <i class="fa-brands fa-facebook-f"></i>
                  </a>
                  <a href="https://www.instagram.com/rigalmaedu/" target="_blank">
                     <i class="fa-brands fa-instagram"></i>
                  </a>
                  <a href="https://www.linkedin.com/company/rigalmaedu/" target="_blank">
                     <i class="fa-brands fa-linkedin-in"></i>
                  </a>
                  <a href="https://twitter.com/rigalmaedu" target="_blank">
                     <i class="fa-brands fa-x-twitter"></i>
                  </a>
               </div>
            </div>
         </div>
      </div>

      <div class="copyRight d-flex align-items-center justify-content-between">
         <p>
            © Copyright 2023.
            <a href="https://codewiretech.com/" target="_blank" style="color: #F6C70B;">Codewiretech</a>
            All Rights Reserved.
         </p>
         <div class="d-flex align-items-center">
            <p class="px-5">
               <a href="/privacy">PRIVACY POLICY</a>
            </p>
            <p>
               <a href="/termsConditions">TERMS & CONDITIONS</a>
            </p>
         </div>
      </div>
      <div class="applyBt">
         <button type="button" class="quesBtn mx-2" data-bs-toggle="modal" data-bs-target="#applyModal">
            Apply Now <i class="fa-light fa-arrow-right px-1"></i>
         </button>
         <div class="modal fade" id="applyModal" tabindex="-1" aria-labelledby="applyModal"
         aria-hidden="true">
            <div class="modal-dialog loginModal">
               <div class="modal-content">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  <div class="modal-body">
                  <div class="row justify-content-center py-3">
                     <div class="col-md-12 px-5">
                        <div class="text-center">
                        <img src="/public/images/logo.png" class="w-50" />
                        <h2 class="m-0">Student Registration</h2>
                        <h4>Sign in to continue</h4>
                        </div>
                        <form class="form-modal">
                        <div class="row justify-content-between text-left">
                           <div class="col-md-6">
                              <div class="form-group">
                              <label class="form-control-label">Name</label>
                              <input type="text" placeholder="Enter your name" id="name" name="name" required />
                              <p class="allError" id="nameError"></p>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                              <label class="form-control-label">Email *</label>
                              <input type="text" placeholder="Enter your mail id" id="email"
                                 oninput="checkEmailExistornot(this)" name="email" required />
                              <p class="allError" id="emailError"></p>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                              <label class="form-control-label">Mobile Number *</label>
                              <input type="text" placeholder="Enter your number" id="phone"
                                 oninput="checkPhoneExistornot(this)" name="phone" required />
                              <p class="allError" id="phoneError"></p>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                              <label class="form-control-label">Password *</label>
                              <input type="password" placeholder="Enter password" id="password" name="password"
                                 required />
                              <p class="allError" id="passwordError"></p>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                              <label class="form-control-label">Gender</label>
                              <select class="form-select" aria-label="Gender" id="gender" name="gender" required>
                                 <option value="Male">Male</option>
                                 <option value="Female">Female</option>
                                 <option value="other">Other</option>
                              </select>
                              <p class="allError" id="genderError"></p>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                              <label class="form-control-label">Select Stream</label>
                              <select class="form-select" aria-label="Select Stream" id="" name="" required>
                                 <option value="">Commerce and Banking</option>
                                 <option value="">Design</option>
                                 <option value="">Engineering</option>
                                 <option value="">Management</option>
                                 <option value="">Hotel Management</option>
                                 <option value="">Information Technology</option>
                                 <option value="">Media and Mass Communication</option>
                                 <option value="">Medical</option>
                                 <option value="">Retail</option>
                                 <option value="">Arts and Humanities</option>
                                 <option value="">Law</option>
                                 <option value="">Science</option>
                                 <option value="">Vocational</option>
                                 <option value="">Others</option>
                                 <option value="">Physical Education</option>
                                 <option value="">Education</option>
                                 <option value="">Paramedical</option>
                                 <option value="">Agriculture</option>
                                 <option value="">Nursing</option>
                                 <option value="">Pharmacy</option>
                                 <option value="">Dental</option>
                                 <option value="">Performing Arts</option>
                              </select>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                              <label class="form-control-label">Select Level</label>
                              <select class="form-select" aria-label="Select Level" id="" name="" required>
                                 <option value="">UG</option>
                                 <option value="">PG</option>
                                 <option value="">Diploma</option>
                                 <option value="">Ph.D</option>
                                 <option value="">Certificate</option>
                              </select>
                              <p class="allError" id="genderError"></p>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                              <label class="form-control-label">DOB</label>
                              <input type="text" placeholder="DD/MM/YYYY" id="dob" name="dob" required />
                              <p class="allError" id="dobError"></p>
                              </div>
                           </div>
                        </div>
                        <div class="text-center">
                           <div class="form-group text-center pb-2  pt-3">
                              <button type="submit" onclick="userValidation(this)" class="submitBtn">Apply Now</button>
                           </div>
                           <!-- <p style="color: #1d1d1d; line-height: 1.3;font-size: 12px;">
                              I'am User?
                              <a href="#!" onclick="loginOpen(this)" style="color: #eca500">Login Now</a>
                           </p> -->
                        </div>
                        </form>
                     </div>
                  </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>