<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    My Account
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <!-- <li><a class="dropdown-item" href="/admin/myProfile">My Account</a></li> -->
    <li><a class="dropdown-item" href="/admin/changePassword">Change password</a></li>
    <li><a class="dropdown-item" href="/admin/logout">Logout</a></li>
  </ul>
</div>