<!DOCTYPE html>
<html lang="en">

<head>
    <title>Preparation Host || Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet">
    <link href="/public/css/responsive.css" rel="stylesheet">
</head>

<body>


    <%- include('../partials/navbar')%>


        <div class="mainBg">
            <section class="bannerSec" style="background-image: url(../../public/images/banner/blogBg.svg);">
                <div class="container">
                    <div class="bannerTitle">
                        <!-- <img src="/public/images/banner_bg.svg"> -->
                        <h3>Blog.</h3>
                    </div>
                    <img src="/public/images/banner.png" class="w-100 mt-3">
                </div>
                <div class="anim-elements">
                    <div class="anim-element"></div>
                    <div class="anim-element"></div>
                    <div class="anim-element"></div>
                    <div class="anim-element"></div>
                    <div class="anim-element"></div>
                </div>
            </section>

            <section class="blogs">
                <div class="container">
                    <div class="explore">
                        <h3>Latest Articles</h3>
                    </div>
                    <div class="row pt-5">
                        <div class="col-md-4 my-2">
                            <a href="/blog-detail">
                                <div class="blogCard">
                                    <div class="blogCardImg">
                                        <img src="/public/images/college.jpg">
                                    </div>
                                    <div class="blogUser py-2">
                                        <div class="blogUserImg">
                                            <img src="/public/images/detailBanner.jpg">
                                        </div>
                                        <p class="px-2">Saman Faegh</p>
                                    </div>
                                    <h3 class="m-0">MY REVOLUTIONARY BULLSHITS ABOUT "ATOMIC HABIT"</h3>
                                    <span>Technology</span>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority
                                        have
                                        suffered alteration in some form, by injected humour, or randomised words which
                                        don't
                                        look even slightly believable.</p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p><i class="fa-regular fa-eye"></i> 2983</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p><i class="fa-regular fa-timer"></i> 4min</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p><i class="fa-light fa-calendar-days"></i> July 29, 2022</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 my-2">
                            <a href="/blog-detail">
                                <div class="blogCard">
                                    <div class="blogCardImg">
                                        <img src="/public/images/college.jpg">
                                    </div>
                                    <div class="blogUser py-2">
                                        <div class="blogUserImg">
                                            <img src="/public/images/detailBanner.jpg">
                                        </div>
                                        <p class="px-2">Saman Faegh</p>
                                    </div>
                                    <h3 class="m-0">MY REVOLUTIONARY BULLSHITS ABOUT "ATOMIC HABIT"</h3>
                                    <span>Technology</span>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority
                                        have
                                        suffered alteration in some form, by injected humour, or randomised words which
                                        don't
                                        look even slightly believable.</p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p><i class="fa-regular fa-eye"></i> 2983</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p><i class="fa-regular fa-timer"></i> 4min</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p><i class="fa-light fa-calendar-days"></i> July 29, 2022</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 my-2">
                            <a href="/blog-detail">
                                <div class="blogCard">
                                    <div class="blogCardImg">
                                        <img src="/public/images/college.jpg">
                                    </div>
                                    <div class="blogUser py-2">
                                        <div class="blogUserImg">
                                            <img src="/public/images/detailBanner.jpg">
                                        </div>
                                        <p class="px-2">Saman Faegh</p>
                                    </div>
                                    <h3 class="m-0">MY REVOLUTIONARY BULLSHITS ABOUT "ATOMIC HABIT"</h3>
                                    <span>Technology</span>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority
                                        have
                                        suffered alteration in some form, by injected humour, or randomised words which
                                        don't
                                        look even slightly believable.</p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p><i class="fa-regular fa-eye"></i> 2983</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p><i class="fa-regular fa-timer"></i> 4min</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p><i class="fa-light fa-calendar-days"></i> July 29, 2022</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 my-2">
                            <a href="/blog-detail">
                                <div class="blogCard">
                                    <div class="blogCardImg">
                                        <img src="/public/images/college.jpg">
                                    </div>
                                    <div class="blogUser py-2">
                                        <div class="blogUserImg">
                                            <img src="/public/images/detailBanner.jpg">
                                        </div>
                                        <p class="px-2">Saman Faegh</p>
                                    </div>
                                    <h3 class="m-0">MY REVOLUTIONARY BULLSHITS ABOUT "ATOMIC HABIT"</h3>
                                    <span>Technology</span>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority
                                        have
                                        suffered alteration in some form, by injected humour, or randomised words which
                                        don't
                                        look even slightly believable.</p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p><i class="fa-regular fa-eye"></i> 2983</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p><i class="fa-regular fa-timer"></i> 4min</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p><i class="fa-light fa-calendar-days"></i> July 29, 2022</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="blogExploreTopics">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="explore">
                                <h3>Explore Topics</h3>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <ul class="collegeInfo">
                                <li class="collegeInfoTab">Marketing</li>
                                <li class="collegeInfoTab">Skills</li>
                                <li class="collegeInfoTab">Education</li>
                                <li class="collegeInfoTab">Management</li>
                                <li class="collegeInfoTab">Strategies</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-md-5">
                            <div class="exploreRight">
                                <a href="/blog-detail">
                                    <div class="exploreRightImg">
                                        <img src="/public/images/college.jpg">
                                    </div>
                                    <div class="catBlog">
                                        <a href="#!" class="blogCat">Marketing</a>
                                    </div>
                                    <h3>MY REVOLUTIONARY BULLSHITS ABOUT "ATOMIC HABIT"</h3>
                                    <div class="blogUser">
                                        <div class="blogUserImg">
                                            <img src="/public/images/detailBanner.jpg">
                                        </div>
                                        <div class="px-2">
                                            <p>Saman Faegh</p>
                                            <span>July 29, 2022 | 4mins read</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="row align-items-center py-2">
                                <div class="col-md-4">
                                    <div class="sideImg">
                                        <img src="/public/images/college.jpg">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="rigRightContent">
                                        <a href="/blog-detail">
                                            <h4>MY REVOLUTIONARY BULLSHITS ABOUT "ATOMIC HABIT"</h4>
                                            <p>Ramesh Sharma</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center py-2">
                                <div class="col-md-4">
                                    <div class="sideImg">
                                        <img src="/public/images/college.jpg">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="rigRightContent">
                                        <a href="/blog-detail">
                                            <h4>MY REVOLUTIONARY BULLSHITS ABOUT "ATOMIC HABIT"</h4>
                                            <p>Ramesh Sharma</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center py-2">
                                <div class="col-md-4">
                                    <div class="sideImg">
                                        <img src="/public/images/college.jpg">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="rigRightContent">
                                        <a href="/blog-detail">
                                            <h4>MY REVOLUTIONARY BULLSHITS ABOUT "ATOMIC HABIT"</h4>
                                            <p>Ramesh Sharma</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="subscribeSec">
                <div class="container">
                    <div class="subscribe">
                        <h3>Subscribe To Our News Letter</h3>
                        <p class="pt-3">Get College Notifications, Exam Notifications and News Updates</p>
                        <form class="form-card">
                            <div class="d-flex">
                                <input type="text" id="fname" name="fname" placeholder="Email address">
                                <input type="text" id="mobile" name="mobile" placeholder="Mobile no">
                                <select class="form-select" aria-label="Choose your course">
                                    <option selected>Choose your course</option>
                                    <option value="1">Teacher</option>
                                    <option value="2">School Admin</option>
                                    <option value="3">Principal</option>
                                    <option value="4">School Owner</option>
                                    <option value="5">Parent</option>
                                </select>
                                <div class="text-center mx-2">
                                    <a href="#!" type="submit" class="submitBtn">Submit</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>

        <%- include('../partials/footer')%>


            <script type="text/javascript" src="/public/js/jquery.min.js"></script>
            <script type="text/javascript" src="/public/js/main.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
            <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
</body>

</html>