<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <title>Preparation Host || School Detail </title>
    <meta name="description" content="">
    <meta name="keyword" content="">
    <link rel="canonical" href="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet">
    <link href="/public/css/responsive.css" rel="stylesheet">
</head>

<body>
    <%- include('../partials/navbar')%>
        <div class="bannerSecBg" style="background-color: #8abcc5;">
            <div class="bannerOverlay">
                <div class="container">
                    <div class="bannerDetailTitle">
                        <h3>
                            - Admission, Fees, Courses Placement
                        </h3>
                        <h4 class="m-0">Chennai, Tamil Nadu AICTE Approved</h4>
                        <div class="d-flex align-items-center pt-3">
                            <div class="d-flex align-items-center">
                                <span class="starCount">10</span>
                                <div class="reviewsCo">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <p>4 User reviews</p>
                                </div>
                            </div>
                            <a href="#!" class="consultationBtn">Get Contact Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="college_detail_page">
            <div class="container">
                <ul class="collegeInfo">
                    <li class="collegeInfoTab">
                        <a href="#!">
                            OverView
                        </a>
                    </li>
                    <li class="collegeInfoTab">
                        <a href="#!">
                            Courses
                        </a>
                    </li>
                    <li class="collegeInfoTab">
                        <a href="#!">
                            Admission
                        </a>
                    </li>
                    <li class="collegeInfoTab">
                        <a href="#!">
                            Placement
                        </a>
                    </li>
                    <li class="collegeInfoTab">
                        <a href="#!">
                            Scholarship
                        </a>
                    </li>
                    <li class="collegeInfoTab">
                        <a href="#!">
                            Campus
                        </a>
                    </li>
                    <li class="collegeInfoTab">Gallery</li></a>
                    <li class="collegeInfoTab">
                        <a href="#!">
                            Reviews
                        </a>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-9">
                        <div class="overall-1">
                            <div class="collegeDetailFilter2">
                                <h3>Heading</h3>
                                <div class="collegefilter2">
                                    <div class="border-top college-comment">
                                        <h5 class="pt-2">Description</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 pt-3">
                        <a href="#!" class="applyBtn">Apply Now</a>
                        <a href="" class="quesBtn my-3">Download Brochure</a>
                        <div class="parantCollegeGroup">
                            <h4>Top Schools</h4>
                            <a href="#!">
                                <div class="border-top topCou pt-2 d-flex">
                                    <div class="w-75">
                                        <h5>Rawal Public School</h5>
                                        <p>AVG FEE -</p>
                                    </div>
                                    <div class="w-25 text-end">
                                        <p>3 Years</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('../partials/footer')%>
            <script type="text/javascript" src="/public/js/jquery.min.js"></script>
            <script type="text/javascript" src="/public/js/main.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
            <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
</body>

</html>